{{#bulma-menu }}
  {{#bulma-menu-list label="Overview"}}
    <li>
      {{link-to "Quickstart" "docs" class="item"}}
    </li>
    <li>
      {{#link-to "docs.plugins.implement-your-own" class="item"}}Extending{{/link-to}}
    </li>
    <li>
      {{#link-to "docs.plugins.reuse-of-data" class="item"}}Reusing data{{/link-to}}
    </li>
  {{/bulma-menu-list}}
  {{#bulma-menu-list label="Deployment"}}
    <li>
      {{#link-to "docs.deploy-as-library"}}As a javascript library{{/link-to}}
    </li>
    <li>
      {{#link-to "docs.deploy-as-addon"}}As an Ember.js addon{{/link-to}}
    </li>
    <li>
      {{#link-to "docs.iframe-support"}}Using an iframe{{/link-to}}
    </li>
  {{/bulma-menu-list}}
  {{#bulma-menu-list label="Core"}}
    <li>
      {{#link-to "docs.core-development" class="item"}}Overview{{/link-to}}
    </li>

    {{#each this.core as |component|}}
      <li>
        {{link-to component.label "docs.core.from-repository" component.namespace component.repository}}
      </li>
    {{/each}}
  {{/bulma-menu-list}}
  {{#bulma-menu-list label="Plugins"}}
    {{#each this.plugins as |plugin|}}
      <li>
        {{link-to plugin.label "docs.plugins.from-repository" plugin.namespace plugin.repository}}
      </li>
    {{/each}}
  {{/bulma-menu-list}}
{{/bulma-menu}}
