<nav>
  <ul>
    <li>{{#link-to "demo"}}Try it out!{{/link-to}}</li>
    <li>
      Documentation
      <ul>
        <li>
          Core
          <ul>
            {{#each this.core as |component|}}
              <li>{{link-to component.label "docs.core.from-repository" component.namespace component.repository}}</li>
            {{/each}}
          </ul>
        </li>
        <li>
          Plugins
          <ul>
            {{#each this.plugins as |plugin|}}
              <li>{{link-to plugin.label "docs.plugins.from-repository" plugin.namespace plugin.repository}}</li>
            {{/each}}
            <li>{{#link-to "docs.plugins.implement-your-own"}}Implement your own plugin{{/link-to}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>