/* Footer */

	.footer img {
		margin: 1rem 0;
		width: 100%;
		opacity: 0.8;
	}


/* pictures */

.img--bordered {
	border: 1px solid rgba($black, 0.2);
}

.img--rounded {
	border-radius: 3px;
}

.has-background-light .hr {
	background-color: rgba($black, 0.1);
}


/* spacing */

.space-05 {
	margin-bottom: 0.5rem !important;
}

.space-1 {
	margin-bottom: 1rem !important;
}

.space-2 {
	margin-bottom: 2rem !important;
}

.space-3 {
	margin-bottom: 3rem !important;
}
