/* Landing page hero image animation */

#card {
	fill: #fff;
}

#highlight-name {
  animation: opacity-1 3s;
}

#highlight-location {
  animation: opacity-2 3s;
}

#highlight-quote {
  animation: opacity-3 3s;
}

#laptop-screen,
#user-card,
#location-card,
#quote-card {
	transition: 300ms;
	position: relative;
}

#laptop-screen {
	fill: #fff;
}

#user-card {
  right: 1rem;
  transform: translate(550px, 80px);

  &:hover {
  	right: 2rem;
  	transform: translate(502px, 68px);

		#text-user {
			opacity: 1;
		}
	}
}

#location-card {
  top: 1rem;
  transform: translate(230px, 277px);

	&:hover {
		top: 2rem;
		transform: translate(186px, 270px);

		#text-location {
			opacity: 1;
		}
	}
}

#quote-card {
  top: 1rem;
  transform: translate(320px, 560px);

  &:hover {
  	top: 3rem;
  	transform: translate(307px, 580px);

		#text-quote {
			opacity: 1;
		}
	}
}

#laptop-screen {

	 &:hover {


		#text-laptop {
			opacity: 1;
			transition: all 200ms;
		}

		#text {
			opacity: 0;
			transition: all 200ms;
		}
	}
}

#text-laptop,
#text-quote,
#text-user,
#text-location {
	transition: all 200ms;
	opacity: 0;
}

/* landing page how it works image */

.how-it-works__image {
	margin: 1rem 0 3rem;
}


.section--partners {
	margin-bottom: 4rem;

	.column {
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	a {
		height: 4rem;
		display: flex;
		margin-bottom: 1rem;

		img {
			height: 4rem;
			min-width: 2rem;
			width: 100%;
		}
	}
}


/* SVG styling */

.st0 {
	fill: #9240F2;
}

.st1 {
	fill: #50455B;
}

.st2 {
	fill: #fff;
}

