.nav svg {
	margin-right: 2rem;
	display: block;
}

.navbar-item:not(.nav-item-brand) {
	padding-top: 0.75rem;
}

.navbar-brand svg {
	max-height: 5rem;
	margin-left: 0.8rem;

	@media screen and (max-width: 1087px) {
		margin-left: 1.5rem;
	}
}

.navbar-brand svg {
	enable-background: new 0 0 577.4 109.5;
}

.navbar-mobile {
	border-top: 2px solid $gray-light;
}
