<div class="card">
		<div class="card-header">
				<h2 class="card-header-title">Core</h2>
				<a href="#" class="card-header-icon" aria-label="more options">
						<span class="icon">
								<i class="fa fa-circle-o" aria-hidden="true"></i>
						</span>
				</a>
		</div>
		<div class="card-content">
				<h3 class="is-4 subtitle">Get insight in the core components of the editor</h3>
				<p>Plunder Privateer killick long clothes pink ho tackle skysail haul wind snow. Marooned cutlass handsomely ballast sutler cable hempen halter league grog blossom Buccaneer. Belaying pin interloper jury mast clap of thunder Jolly Roger Davy Jones' Locker piracy chase guns chandler splice the main brace.</p>
		</div>
</div>

<div class="card">
		<div class="card-header">
				<h2 class="card-header-title">Plugins</h2>
				<a href="#" class="card-header-icon" aria-label="more options">
						<span class="icon">
								<i class="fa fa-plug" aria-hidden="true"></i>
						</span>
				</a>
		</div>
		<div class="card-content">
				<h3 class="is-4 subtitle">Check out our plugins</h3>
				<p>Log scourge of the seven seas rigging Pirate Round matey interloper Nelsons folly bring a spring upon her cable plunder aft. Gunwalls wench Buccaneer provost fathom topsail man-of-war bilge water knave Pirate Round. Swab pillage pirate salmagundi Yellow Jack scuttle American Main bilge water six pounders Barbary Coast.</p>
		</div>
</div>
