<h1>Quickstart</h1>
<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">The path of least resistance</h2>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </span>
    </a>
  </div>
  <div class="card-content">
    <h3 class="is-4 subtitle">A quick deploy with an example implementation</h3>
    <p>
      An effortless way to have a flavour of the capabilities of the editor is to go and check the example implementation of
      {{link-to "gelinkt-notuleren" "docs.implementations.from-repository" "lblod" "app-gelinkt-notuleren"}}. <br> <br>
      Many of the documented plugins used here and it gives you a good idea of the possible user interactions with say-editor.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">Integrating the editor as an Ember.js addon</h2>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </span>
    </a>
  </div>
  <div class="card-content">
    <h3 class="is-4 subtitle">Your Ember.js app needs say</h3>
    <p>
      Given an existing ember-app, we'll show you how to integrate the say-editor in it. Check out the
      {{#link-to "docs.deploy-as-addon"}}tutorial{{/link-to}}.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">When your project doesn't talk Ember.js</h2>
      <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-plug" aria-hidden="true"></i>
      </span>
    </a>
  </div>
  <div class="card-content">
    <h3 class="is-4 subtitle">Take a look at the following approaches!</h3>
    <p>
      Convinced by the capabilities of say-editor, but disappointed your project doesn't talk in Ember.js?
      <br> No need for sad feelings, there is still a way to use the editor in a complete framework agnostic way.
      <br> You can either integrate it as an {{#link-to "docs.iframe-support"}}iFrame{{/link-to}} or
      as an {{#link-to "docs.deploy-as-library"}}external JavaScript library{{/link-to}}.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
  <h2 class="card-header-title">When you are ready to make say smarter</h2>
  <a href="#" class="card-header-icon" aria-label="more options">
  <span class="icon">
  <i class="fa fa-circle-o" aria-hidden="true"></i>
  </span>
  </a>
  </div>
  <div class="card-content">
  <h3 class="is-4 subtitle">Write your first say plugin with a hands-on tutorial</h3>
  <p>
    Doesn't the world lack knowledge?  Say doesn't understand
    everything.  You may have a different need.  That's exactly why we
    wrote {{#link-to "docs.plugins.getting-started"}}this tutorial{{/link-to}} to get you started.
  </p>
  <p>
    Say makes it simple to add knowldge.  Follow the tutorial, learn
    to find the most relevant documentation, and make Say smarter for
    your use.  Really, follow {{#link-to "docs.plugins.getting-started"}}the tutorial{{/link-to}}.
  </p>
  </div>
</div>

{{!-- <div class="card">
  <div class="card-header">
    <h2 class="card-header-title">Working on the core of the editor.</h2>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </span>
    </a>
  </div>
  <div class="card-content">
    <h3 class="is-4 subtitle">Get insight in the core components of the editor</h3>
    <p>
      Plunder Privateer killick long clothes pink ho tackle skysail haul wind snow. Marooned cutlass handsomely ballast sutler cable hempen halter league grog blossom Buccaneer. Belaying pin interloper jury mast clap of thunder Jolly Roger Davy
      Jones' Locker piracy chase guns chandler splice the main brace.
    </p>
  </div>
</div> --}}
