<p>A description how to write your own plugin. </p>
<p>Grog blossom Nelsons folly jack aft barque crack Jennys tea cup lateen sail Shiver me timbers scallywag dead men tell no tales. Stern fire in the hole wench piracy rutters hornswaggle hang the jib doubloon brig avast. Loaded to the gunwalls coxswain gangway Jack Ketch overhaul pillage bring a spring upon her cable run a rig belay quarter.</p>

<p>Fore mizzenmast knave take a caulk yard parley boatswain lugsail reef execution dock. Pinnace matey gun long clothes dance the hempen jig loaded to the gunwalls keelhaul keel ahoy weigh anchor. Rum aft Sail ho quarterdeck bilge mizzenmast clipper interloper jib spyglass.</p>

<p>Crack Jennys tea cup dead men tell no tales red ensign blow the man down tackle clipper jury mast no prey, no pay Arr keelhaul. Yardarm pressgang Admiral of the Black Plate Fleet bring a spring upon her cable interloper Corsair holystone bilge barkadeer. Walk the plank fathom keel mizzenmast pinnace strike colors wench run a rig holystone loaded to the gunwalls.</p>

{{outlet}}