<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-10-mobile is-10-tablet is-6-desktop">
          <h1 class="title is-1">Accessibility Statement</h1>
          <p>Say started out as a project within the Flemish Government in Belgium — at the Agency for Local and Provincial Government. The Agency for Local and Provincial Government aims to make their websites and mobile applications accessible, in accordance with the Administrative Decree.</p>
          <br>
          <p>This accessibility statement applies to the website <a href="https://say-editor.com">https://say-editor.com/</a>.</p>
          <br>
          <br>

          <h2 class="title is-2">Compliance status</h2>
          <p>This website partially complies the <a href="https://www.w3.org/Translations/WCAG21-nl/" target="_blank" rel="noopener noreferrer">Accessibility Guidelines of Webcontent (WCAG) 2.1 Level AA</a>, because the requirement(s) below are not met.</p>
          <br>
          <br>

          <h2 class="title is-2">Non-accessible Content</h2>
          <ul>
            <li>
              <strong>Focus order:</strong> If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive focus in an order that preserves meaning and operability &mdash; this is not the case yet (<a href="https://www.w3.org/TR/WCAG21/#focus-order" target="_blank" rel="noopener noreferrer">Success Criterion 2.4.3 Focus Order</a>).<br>
              <em>Alternative:</em> tab to the content.
              <br>
            </li>
            <li>
              <strong>Page Titles:</strong> Web pages have titles that describe topic or purpose &mdash; this is not the case yet (<a href="https://www.w3.org/TR/WCAG21/#page-titled" target="_blank" rel="noopener noreferrer">Success Criterion 2.4.2 Page Titled</a>).<br>
              <em>Alternative:</em> we have added an "new web page announcement" each time a new page is loaded. The title will not be announced yet.
              <br>
            </li>
          </ul>
          <br>
          <p>We are working towards a more accessible website by 21 June 2020.</p>
          <br>

          <h2 class="title is-2">Preparation of this Accessibility Statement</h2>
          <p>This accessibility statement was drawn up on 21/08/2020.</p>
          <br>
          <p>For this accessibility statement, the accessibility of the mentioned web application was assessed by the Agency for Local and Provincial Government.</p>
          <br>
          <br>

          <h2 class="title is-2">Feedback and Contact Details</h2>
          <p>For all questions and comments about the accessibility of the listed websites of the Agency for Local and Provincial Government, please contact <a href="mailto:binnenland@vlaanderen.be">binnenland@vlaanderen.be</a></p>
          <br>
          <br>

          <h2 class="title is-2">Enforcement Procedure</h2>
          <p>In case of unsatisfactory answers to your questions and comments, you can contact the Flemish Ombudsman Service via the details below:</p>
          <br>
          <p>
            <strong>Vlaamse Ombudsdienst</strong><br>
            Leuvenseweg 86 <br>
            1000 Brussels <br>
            <a href="mailto:info@vlaamseombudsdienst.be">info@vlaamseombudsdienst.be</a>
          </p>
          <br>

        </div>
      </div>
    </div>
  </div>
</section>