<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-10-mobile is-10-tablet is-6-desktop">
          <img src="/assets/images/say-partner-LBLOD-editor.jpg" alt="Picture of two people sitting in front of a laptop that displays the editor that is branded according to the Flemish Government's guidelines.">
        </div>
        <div class="column is-7-tablet is-5-desktop is-offset-1-desktop">
          <h1 class="title is-2">How Say Came To Life</h1>
          <p>
            Say started out as a project within the Flemish Government in Belgium &mdash; at the Agency for Local and Provincial Government. The government wanted to improve data flows for their local governments, and lighten the work burden for
            their employees. They created a web application called <a href="https://gelinkt-notuleren.vlaanderen.be" target="_blank" rel="noopener noreferrer">Gelinkt Notuleren</a>, which has Say built in as an open source application. The idea of "
            <strong>
              don't ask what you already know
            </strong>
            " created <em>Say</em> to what it is today.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-5 is-7-tablet is-5-desktop">
        <h2 class="title is-4">Author &amp; Owner</h2>
        <div class="content">
          <p>
            Say started out as a project at the Agency for Local and Provincial Government. They have the administrative ownership over the organisation and its repositories. You can find more info at
            <a href="http://lokaalbestuur.vlaanderen.be" target="_blank" rel="noopener noreferrer">lokaalbestuur.vlaanderen.be</a>
          </p>
        </div>
        <h2 class="title is-4">Maintainers</h2>
        <div class="content">
          <p>
            The Flemish organisation Agency for Local and Provincial Government and their partners are responsible for driving the vision and managing the organisational aspects of the project.
          </p>
        </div>
      </div>
      <div class="column is-10-mobile is-10-tablet is-6-desktop is-offset-1-desktop">
        <img src="/assets/images/say-about-ownership.png" class="img--rounded img--bordered" alt="Screenshot of the repositories that Say has on Github.">
      </div>
    </div>
  </div>
</section>
<section class="section has-background-light">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-5 is-7-tablet is-5-desktop">
        <h2 class="title is-4">Contributors</h2>
        <p>
          All organisations and people who have contributed something to the project, and made Say to what it is today.
        </p>
        <div class="content">
          <ul>
            <li><a href="https://binnenland.vlaanderen.be/" target="_blank" rel="noopener noreferrer">Flemish organisation Agency for Local and Provincial Government</a></li>
            <li><a href="https://redpencil.io/" target="_blank" rel="noopener noreferrer">Redpencil.io</a></li>
            <li><a href="http://miet.be" target="_blank" rel="noopener noreferrer">miet.be</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-5 is-7-tablet is-5-desktop is-offset-2-desktop">
        <h2 class="title is-4">Community members</h2>
        <p>
          People and organisations who use the project, and have been active in conversations or express their opinion on the project’s direction.
        </p>
        <div class="content">
          <ul>
            <li><a href="https://c-clearpartners.com/" target="_blank" rel="noopener noreferrer">C-Clear Partners</a></li>
            <li><a href="https://www.vlaanderen.be/organisaties/departement-kanselarij-en-bestuur" target="_blank" rel="noopener noreferrer">Public Governance &amp; the Chancellery</a></li>
            <li><a href="https://www.vlaanderen.be/mobiliteit-en-openbare-werken" target="_blank" rel="noopener noreferrer">Mobility &amp; Public Works</a></li>
            <li><a href="https://v-ict-or.be/wat-we-doen/samen-aanbesteden" target="_blank" rel="noopener noreferrer">LB365 (Samen Aanbesteden)</a></li>
            <li><a href="http://mono.company" target="_blank" rel="noopener noreferrer">Mono Company</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}
