<div class="ui fixed inverted menu">
  {{link-to "RDFa editor" "index" tagName="div" class="header item"}}
  {{link-to "Try it out!" "demo" class="item"}}
  {{link-to "Documentation" "docs" class="item"}}
</div>

<div class="application-outlet">
  {{outlet}}
</div>
