<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
			<div class="columns">
				<div class="column is-5">
					<h1 class="title is-3">A Successful Case:<br>The Flemish Government</h1>
					<p>Say started out as a project within the Flemish Government in Belgium. The government wanted to improve data flows for their local governments, and lighten the work burden for their employees. The idea of "<strong>don't ask what you already know</strong>" created <em>Say</em> to what it is today.</p>
				</div>
				<div class="column is-6 is-offset-1">
					<img src="/assets/images/say-partner-LBLOD-using.jpg">
				</div>
			</div>
    </div>
  </div>
</section>

<section class="section has-background-light">
	<div class="container">
		<div class="columns">
			<div class="column">
				<img src="/assets/images/data-sources.png" class="img--rounded img--bordered">
			</div>
			<div class="column is-5 is-offset-1">
				<h2 class="title is-4">Fueled by their own data model<br>&amp; multiple data sources</h2>
				<div class="content">
					<p>Local governments make decisions while using <a href="https://data.vlaanderen.be/ns#Applicatieprofielen" target="_blank">application profiles [dutch]</a> and data sources such as:</p>
					<ul>
						<li>their representatives, members of the administrative body. View the <a href="https://data.vlaanderen.be/ns/mandaat" target="_blank">data model for mandate [dutch]</a>;</li>
						<li><a href="https://data.vlaanderen.be/ns/besluit" target="_blank">local decisions [dutch]</a> made by local governments;</li>
						<li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/verkeersborden/" target="_blank">road signs [dutch]</a> and <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-mobiliteit/" target="_blank">mobility [dutch]</a>;</li>
						<li>legislation from the <a href="https://codex.vlaanderen.be/" target="_blank">Flemish codex [dutch]</a>, <a href="https://data.vlaanderen.be/doc/applicatieprofiel/vlaamse-codex/" target="_blank">accompanied with a data model [dutch]</a>.</li>
					</ul>
					<p>The application keeps evolving, and adds more data sources and -models along the way. Because of the {{link-to "plugin system" "docs"}} it is easy to extend the application with more functionality.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h2 class="title is-4">Used by local governments before, during and after their council meetings</h2>
				<div class="content">
					<p>Local governments hold council meetings every month. Their meeting minutes contain valuable information for multiple organisations and individuals &mdash; which is why Say helps to <strong>structure documents semantically</strong> in a way that makes <strong>data-sharing and -reuse</strong> possible.</p>
					<p>Say recognises what is typed, and <strong>enriches the decisions made during the council meetings with links to other relevant resources and metadata</strong>. By <strong>signing, publishing and distributing these smart documents in a standardised and linked way</strong>, no information gathered in those council meetings gets lost.</p>
					<p>The editor allows local governments to sign, publish and distribute their documents with ease. On top of that, they can <strong>connect with other (custom) services they are currently using</strong>.</p>
				</div>
			</div>
			<div class="column is-6 is-offset-1">
				<img src="/assets/images/say-partner-LBLOD-editor-2.jpg">
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<img src="/assets/images/say-partner-LBLOD-reuse.jpg">
			</div>
			<div class="column">
				<div class="content">
					<h2 class="title is-4">Reused by multiple<br>organisations &amp; individuals</h2>
					<p>The information that local governments have shared in their documents, can be reused by different people on different platforms:</p>
					<ul>
						<li><strong>Local governments themselves</strong>
							<br>For example: local governments will not have to keep a track record of mandates manually; if it's written in a Say document, they can automatically feed other applications with this information.
						</li>
						<li><strong>The Flemish Government</strong>
							<br>decisions that need to be reported at the Flemish Government flow through automatically. Nobody needs to send or notify anyone anymore, Say does it for them.
						</li>
						<li><strong>Citizens</strong>
							<br> it is now easy to figure out what has been said in what meeting, and when the next one will take place. Specific decisions that have been made can be found as well, just like the members of their local government can be found in a database.
						</li>
						<li><strong>Third parties</strong>
							<br> the data is open for anyone who would want to use and reuse it. Organising a hackathon or fueling a research paper for a student? Say makes it all possible.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-4 is-offset-1">
				<div class="content">
					<p>Say is currently being used by <a href="https://www.vlaanderen.be/organisaties/departement-kanselarij-en-bestuur" target="_blank">Kanselarij en Bestuur</a> and <a href="https://c-clearpartners.com/" target="_blank">C-Clear</a> and will be implemented for <a href="https://departement-mow.vlaanderen.be" target="_blank">Mobiliteit en Openbare Werken Vlaanderen</a>.</p>
				</div>
			</div>
			<div class="column is-4 is-offset-1">
				<div class="content">
					<p>For more information on how to implement Say for local governments, visit <a href="https://lokaalbestuur.vlaanderen.be/gelinkt-notuleren" target="_blank">lokaalbestuur.vlaanderen.be/gelinkt-notuleren [dutch]</a>.</p>
				</div>
			</div>
		</div>
	</div>
</section>

{{outlet}}
