<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
			<div class="columns">
				<div class="column is-5">
					<h1 class="title is-3">A Good Case: The Flemish Government</h1>
					<p>Say started out as a project within the Flemish Govermnment in Belgium. The government wanted to improve data flows for their local governments, and lighten the work burden for their employees. The Estonian idea of "<strong>ask information only once, but use at least twice</strong>" created <em>Say</em> to what it is today.</p>
				</div>
				<div class="column is-5 is-offset-1">
					<img src="/assets/images/say-partner-LBLOD-using.jpg">
				</div>
			</div>
    </div>
  </div>
</section>

<section class="section has-background-light">
	<div class="container">
		<div class="columns">
			<div class="column">
				<img src="/assets/images/say-partner-LBLOD-editor-2.jpg">
			</div>
			<div class="column">
				<h3 class="title is-5">Fuelled by their own data model &amp; multiple data sources.</h3>
				<div class="content">
					<p>Local governments make decisions while using data sources such as:</p>
					<ul>
						<li>their representatives, members of the administrative body (view the <a href="https://data.vlaanderen.be/ns/mandaat" target="_blank">data model for mandate</a> [dutch]);</li>
						<li>legislation from the <a href="https://codex.vlaanderen.be/" target="_blank">Flemish codex</a> (<a href="https://data.vlaanderen.be/doc/applicatieprofiel/vlaamse-codex/" target="_blank">view data model in dutch</a>) and their , <a href="https://data.vlaanderen.be/ns#Applicatieprofielen" target="_blank">datamodel [dutch]</a>, <a href="https://data.vlaanderen.be/ns/besluit" target="_blank">decisions [dutch]</a> ...</li>
					</ul>
					<p>They use it to... And then...</p>
				</div>

				<h3 class="title is-5">Used by local governments during their meetings.</h3>
				<div class="content">
					<p>They use it to... And then...</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="content">
					<h3 class="title is-5">Reused by multiple organisations and individuals.</h3>
					<p>The information that local governments have shared in their documents, is reused for different people on different platforms:</p>
					<ul>
						<li><strong>Themselves</strong>
							<br>For example: local governments will not have to keep a track record of mandates manually; if it's written in a Say document, they can automatically feed other applications with this information.
						</li>
						<li><strong>Citizens</strong>
							<br> it is now easy to figure out what has been said in what meeting, and when the next one will take place. Specific decisions that have been made can be found as well, just like the members of their local government can be found in a database.
						</li>
						<li><strong>The Flemish Government</strong>
							<br>decisions that have an impact on the Flemish Government flow through automatically. Nobody needs to send or notify anyone anymore, Say does it for them.
						</li>
						<li><strong>Third parties</strong>
							<br> the data is open for anyone to use and reuse. Organising a hackathon or fuelling a research paper for a student? Say makes it all possible.
						</li>
					</ul>
				</div>
			</div>
			<div class="column">
				<img src="/assets/images/say-partner-LBLOD-reuse.jpg">
			</div>
		</div>
	</div>
</section>
{{outlet}}
