<div class="hero intro">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">
            Awaiting an embeddable editor demo...
          </h1>
          <h2 class="subtitle">...or go to <a href="http://gelinkt-notuleren.vlaanderen.be">http://gelinkt-notuleren.vlaanderen.be</a>.</h2>
          <textarea class="textarea" rows="5" placeholder="Start typing here..."></textarea>
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
