<section class="section">
	<div class="container">
		<div class="columns">
		  <div class="column">
		    <DocsMenu />
		  </div>
		  <div class="column is-8">
		    {{outlet}}
		  </div>
		</div>
	</div>
</section>
