<section class="section">
	<div class="container">
		<div class="columns">
		  <div class="column is-2">
		    <DocsMenu />
		  </div>
		  <div class="column is-7 is-offset-2 content">
		    {{outlet}}
		  </div>
		</div>
	</div>
</section>
