<div class="container">
		<section class="section">
				<div class="container">
						<div class="columns">
							<div class="column">
								<h1 class="title is-1">Documentation</h1>
								<p>How to Work With Say</p>
							</div>
						</div>
						<hr class="hr">
						<div class="columns">
								<article class="column is-3 is-3-tablet">
										<DocsMenu />
								</article>
								<article class="column auto is-9-tablet content">
										{{outlet}}
								</article>
						</div>
				</div>
		</section>
</div>
