<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
			<div class="columns">
				<div class="column is-5">
					<h1 class="title is-3">Say can be customised to fit your needs</h1>
					<p>Whether you're having your monthly board meeting, creating legal documents or making a grocery shopping list &mdash; you can choose to add the data sources and features you need according to your situation.</p>
				</div>
				<div class="column is-5 is-offset-1">
					<img src="/assets/images/say-example.gif">
				</div>
			</div>
    </div>
  </div>
</section>

<div class="section">
	<div class="container">
		<div class="content">
			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Allow semantic annotation of documents in your own application</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Integration with existing/your own data sources</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Supports RDFa/linked data</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">MIT License — Open Source</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Based on standards</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Expandable/extendable/…</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Works with Ember</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Embed or run your own version</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

			<section class="columns">
				<div class="column">
					<h2 class="title is-5">Specific selling points for local governments notulen pakketten?</h2>
					<div class="content">
						<p>Interesting to...</p>
						<ul>
							<li>...</li>
						</ul>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>

		</div>
	</div>
</div>
{{outlet}}
