<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
			<div class="columns">
				<div class="column is-5">
					<h1 class="title is-3">Say can be customised to fit your needs</h1>
					<p>Say is equipped to handle projects that produce large amounts of data and require that data to be reused.</p>
					<br>
					<p>Whether you're having your monthly board meeting, creating legal documents or making a grocery shopping list &mdash; you can choose to add the data sources and features you need according to your situation.</p>
					<br>
					<p>Use {{link-to "existing plugins or create your own plugins" "docs"}} to extend Say with the functionalities you need for your project.</p>
				</div>
				<div class="column is-6 is-offset-1">
					<img src="/assets/images/say-example.gif" class="img--bordered img--rounded">
				</div>
			</div>
    </div>
  </div>
</section>

<div class="section has-background-light">
	<div class="container">
		<div class="content">
			<br>

			<section class="columns">
				<div class="column is-6">
					<img src="/assets/images/feature-data-show.gif" class="img--rounded img--bordered">
				</div>
				<div class="column is-5 is-offset-1">
					<h2 class="title is-5">Semantically annotate your documents</h2>
					<div class="content">
						<p>You can choose to <strong>embed</strong> the editor out of the box, or to <strong>implement it in your own project</strong> to have more control. Find how to do that in the {{link-to "documentation" "docs"}} section.</p>
						<p>Connect the editor to your own <strong>data model and -sources</strong> to help it recognise what is being typed.</p>
						<p>Extend the application with existing or home-made <strong>plugins</strong> you need for your case.</p>
					</div>
				</div>
			</section>

			<br>
			<br>
			<br>

			<section class="columns">
				<div class="column is-5 is-offset-1">
					<h2 class="title is-5">Say integration with external or your own data sources</h2>
					<div class="content">
						<p>You can teach Say to speak the language you speak, in your <strong>field of expertise</strong> by adding your own data sources. This allows the editor to understand what you're talking about.</p>
						<p>What Say recognises will be enriched with data you added via an <strong>application profile, data model or other datasources.</strong></p>
					</div>
				</div>
				<div class="column is-4 is-offset-1">
					<img src="/assets/images/say-data-sources.svg">
				</div>
			</section>

			<br>
			<br>
			<br>

			<section class="columns">
				<div class="column is-4 is-offset-4">
					<h2 class="title is-5">Extract data from your semantic documents</h2>
					<div class="content">
						<p>Reuse the information inside your Say editor, or reuse it on different platforms.</p>
					</div>
					<img src="/assets/images/say-reuse.svg">
				</div>
			</section>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="content">
			<br>
			<section class="columns">
				<div class="column is-5">
					<div class="content">
						<h2 class="title is-2">Say is compatible with your project</h2>
						<p>This editor is created with openness and standards in mind — which allows predictable evolution, reuse and longevity.</p>
					</div>
				</div>

				<div class="column is-5 is-offset-1">
					<h3 class="title is-5">Based on standards: HTML, RDFa, JSON</h3>
					<div class="content">
						<ul>
							<li>HTML compliant; Semantics at your fingertips allows a broad spectrum of HTML. Other editors will limit this to the bare minimum (because it’s easier). Most of them write content to JSON or build predictable (limited) HTML.</li>
							<li>Linked data &amp; RDFA &mdash; this makes sure the information that you type in the editor is understood and linked automatically &mdash; which supports datasharing and reuse.</li>
							<li>JSON api Standard, to connect with your existing tools.</li>
						</ul>
					</div>
					<br>
					<br>
				</div>
			</section>

			<section class="columns">
				<div class="column is-5">
					<h3 class="title is-5">MIT License — Open Source</h3>
					<div class="content">
						<p>Because Say has been built with an <a href="https://github.com/lblod/app-gelinkt-notuleren/blob/master/LICENSE.md" target="_blank">MIT license</a>, you can use it for commercial projects, modify however you like, use it for your own or distribute it.</p>
					</div>
					<br>
					<br>
				</div>

				<div class="column is-5 is-offset-1">
					<h3 class="title is-5">Works with Ember</h3>
					<div class="content">
						<p>Say and its plugins have been built with <a href="https://emberjs.com/" target="_blank">Ember components</a>, which makes it easy to extend yourself.</p>
					</div>
				</div>
			</section>

			<hr class="hr" style="margin-bottom: 0;">
			<br>
			<br>

			<section class="columns">
				<div class="column is-5">
					<h2 class="title is-5">Supporting the Local Government sector and their vendors</h2>
					<div class="content">
						<p>From the start, we have focussed on the local government sector. It is a broad use-case that can be extrapolated to future use cases. We have a wide range of {{link-to "plugins" "docs"}} that can be used or modified to your project, in- or outside of the public sector.</p>
						<p>For more information on how to implement Say for local governments, visit <a href="https://lokaalbestuur.vlaanderen.be/gelinkt-notuleren" target="_blank">lokaalbestuur.vlaanderen.be/gelinkt-notuleren</a> [dutch].</p>
					</div>
				</div>
				<div class="column is-6 is-offset-1">
					<img src="/assets/images/screenshot-lblod-vendors.png" class="img--bordered img--rounded">
				</div>
			</section>
			<br>
			<br>
		</div>
	</div>
</div>

{{outlet}}
