<div class="hero is-medium intro">
	<div class="hero-body">
	  <div class="container">
	  	<div class="columns">
	  		<div class="column">
			    <h1 class="title is-1">
			      Semantics at Your Fingertips &mdash; an RDFa Editor
			    </h1>
{{!-- 			    <p class="subtitle">
			    	An embeddable editor for interactive documents, that allows content-enrichment and data-sharing.
			    </p> --}}
					<div class="field">
					  <div class="control">
					  	<textarea class="textarea is-medium" rows="4" placeholder="An embeddable editor for interactive documents, that allows content-enrichment and data-sharing.">An embeddable editor for interactive documents, that allows content-enrichment and data-sharing.</textarea>
						</div>
					</div>
			    <div class="buttons">
			    	{{#link-to "docs" class="button is-primary"}}
              <span>
              	<i class="fa fa-book"></i> <strong>View documentation</strong>
                {{!-- <small>v0.7.4</small> --}}
              </span>
			    	{{/link-to}}
			    	{{#link-to "docs" class="button"}}
              <span>
              	<i class="fa fa-terminal"></i> <strong>Try the demo</strong>
                {{!-- <small>v0.7.4</small> --}}
              </span>
			    	{{/link-to}}
			    </div>
			  </div>
	  		<div class="column">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 80 75" style="enable-background:new 0 0 80 75;" xml:space="preserve" width="22rem" class="is-pulled-right">
						<style type="text/css">
							.hero-shape .st0{fill:none;stroke:#9013FE;stroke-width:1.2;stroke-miterlimit:10;}
							.hero-shape .st1{fill:#FFFFFF;}
						</style>
						<title>Image of a fingerprint in the shape of an S</title>
						<g class="hero-shape">
							<path class="st0" d="M1,67.5V30.1v-4.6C1,12,12,1,25.5,1S50,12,50,25.5v42"/>
							<path class="st0" d="M27.2,39.9C17.7,37.5,13,32.7,13,25.5C13,18.4,19,12,30,14c5.5,1,10,7,6.8,11.2"/>
							<path class="st0" d="M4,46c4,5,13,11,21,11c3,0,10-1,14.8-5.7c4.8-4.7,6.5-11.7,3.4-19.3"/>
							<path class="st0" d="M33.8,22.2c-2.3-2-11.4-4.2-14.1,1.1c-3,5.9,3.3,8.5,7,9.4c5.9,1.4,9.5,4.6,7.1,9.5C31,47.9,20,47,14,42
								S6.2,31,7,23c0.7-6.8,10.9-20.6,28.4-12.4c11.6,5.4,6.9,18.2,4,19.8"/>
							<g>
								<rect x="34.5" y="9.5" transform="matrix(0.6089 -0.7932 0.7932 0.6089 5.3479 33.8471)" class="st1" width="5" height="4"/>
							</g>
							<g>
								<rect x="4.5" y="19.5" transform="matrix(0.1454 -0.9894 0.9894 0.1454 -16.2112 25.2327)" class="st1" width="4" height="5"/>
							</g>
							<g>
								<rect x="12" y="40" transform="matrix(0.6027 -0.7979 0.7979 0.6027 -27.753 28.2548)" class="st1" width="5" height="4"/>
							</g>
							<g>
								<rect x="19" y="49" transform="matrix(0.1767 -0.9843 0.9843 0.1767 -32.497 63.1478)" class="st1" width="5" height="4"/>
							</g>
							<polygon class="st1" points="47,59 24,63.9 5,57 14,48 37,50 "/>
							<path class="st0" d="M24.7,26c8.4,1.5,15.1,4.7,14.3,14c-0.6,7.1-7.1,14.1-20,10.8C8,48,5,38,5,38"/>
							<g>
								<polygon class="st1" points="18,53 21.9,53.9 23,49 20.1,48.1 	"/>
							</g>
						</g>
					</svg>
	  		</div>
		  </div>
	  </div>
	</div>
</div>
<section class="has-background-light">
	<div class="container has-background-light">
		<div class="columns">
			<div class="column has-background-light">a
			</div>
			<div class="column">a
			</div>
			<div class="column">a
			</div>
		</div>
	</div>
</section>
