<div class="hero is-medium intro">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <h1 class="title is-2">
            Say, the editor that understands what you are talking about.
          </h1>
          <p class="subtitle">
            <br>
            An <strong>open-source, embeddable text editor</strong> that enriches your notes to help <em>computers understand what you type</em>.
            <br><br>
            Say recognises and <strong>extracts your valuable data</strong>, to make it <strong>shareable and reusable</strong>.
          </p>
          <div class="buttons space-3">
            <LinkTo @route="docs" class="button is-primary">
              <span>
                <i class="fa fa-book"></i> <strong>How to use Say in your project</strong>
              </span>
            </LinkTo>
          </div>
        </div>
        <div class="column">
          {{svg-jar 'icon'}}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section section--partners">
  <div class="container">
    <div class="columns is-vbottom">
      <div class="column is-half-mobile">
        <h2 class="title is-6">Powered by</h2>
        <div>
          <a href="https://binnenland.vlaanderen.be/" target="_blank" rel="noopener noreferrer">
            <div>
              <img src="/assets/images/logos-partners/logo-abb.svg" alt="Logo Agency for Local and Provincial Government">
            </div>
          </a>
        </div>
      </div>
      {{!-- <div class="column is-offset-1">
                <div>
                    <a href="https://binnenland.vlaanderen.be/" target="_blank" rel="noopener">
                        <div>
                            <img src="/assets/images/logos-partners/logo-abb.svg" alt="Logo Agency for Local and Provincial Government">
                        </div>
                    </a>
                </div>
            </div> --}}
      <div class="column is-offset-1 is-half-mobile">
        <h2 class="title is-6">Community members</h2>
        <div>
          <a href="https://c-clearpartners.com/" target="_blank" rel="noopener noreferrer">
            <div>
              <img src="/assets/images/logos-partners/logo-cclear.svg" alt="Logo C-Clear">
            </div>
          </a>
        </div>
      </div>
      <div class="column is-offset-1 is-half-mobile">
        <div>
          <a href="https://www.vlaanderen.be/organisaties/departement-kanselarij-en-bestuur" target="_blank" rel="noopener noreferrer">
            <div>
              <img src="/assets/images/logos-partners/logo-kanselarij-bestuur.svg" alt="Logo Kanselarij">
            </div>
          </a>
        </div>
      </div>
      <div class="column is-offset-1 is-half-mobile">
        <div>
          <a href="https://departement-mow.vlaanderen.be" target="_blank" rel="noopener noreferrer">
            <div>
              <img src="/assets/images/logos-partners/logo-mobiliteit-openbare-werken.svg" alt="Logo Mobility Flanders">
            </div>
          </a>
        </div>
      </div>
      <div class="column is-offset-1 is-half-mobile">
        <div>
          <a href="https://v-ict-or.be/wat-we-doen/samen-aanbesteden" target="_blank" rel="noopener noreferrer">
            <div>
              <img src="/assets/images/logos-partners/logo-LB365.svg" alt="Logo LB365 (Samen Aanbesteden)">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <h2 class="title is-3">
      Set Say up the way you like it:
      <br>embed or implement
      <br>
      <br>
    </h2>
    <div class="columns">
      <div class="column">
        <h3 class="title is-5">
          <span class="tag space-1">Step 1</span>
          <br>
          Tell Say what you're writing about
        </h3>
        <p class="space-1"><strong>Connect</strong> Say with your own, or other existing <strong>data sources</strong> to feed the text editor the right information &amp; context. You can create new plugins to extend and make Say smarter for your custom project.</p>
      </div>
      <div class="column">
        <h3 class="title is-5">
          <span class="tag space-1">Step 2</span>
          <br>
          Let Say finish your sentences
        </h3>
        <p class="space-1">
          As you type, <strong>Say recognises and enriches information</strong> with <em>RDFa &mdash; semantic information that helps computers understand what we put on the web.</em>
          <br>
          <br>
          For instance titles, people and quotes will be <strong>linked together</strong> and <strong>extended with RDFa annotations</strong> &mdash; which in return helps your computer extract information.
        </p>
      </div>
      <div class="column">
        <h3 class="title is-5">
          <span class="tag space-1">Step 3</span>
          <br>
          Reuse and share information
        </h3>
        <p class="space-1">The documents you create with Say are smart. The data inside them can be <strong>recognised and extrapolated</strong> by making use of RDF libraries. This information can be <strong>reused</strong> in databases and documents.</p>
      </div>
    </div>
    <img src="/assets/images/say-how-it-works.svg" class="how-it-works__image" alt="Visualisation that shows you can add your own data sources to the editor, and reuse the data created by that editor.">
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <h1 class="title is-3">How Say Came to Life:<br>The Flemish Government</h1>
        <p>
          Say started out as a project within the Flemish Government in Belgium &mdash; at the Agency for Local and Provincial Government. The government wanted to improve data flows for their local governments, and lighten the work burden for
          their employees. The idea of "<strong>don't ask what you already know</strong>" created <em>Say</em> to what it is today.
        </p>
        <br>
        <p>
          <LinkTo @route="cases">Discover more</LinkTo>
        </p>
      </div>
      <div class="column is-6 is-offset-1">
        <img src="/assets/images/say-partner-LBLOD-using.jpg" alt="Picture of two people sitting in front of a laptop that displays the editor that is branded according to the Flemish Government's guidelines.">
      </div>
    </div>
  </div>
</section>
