<div class="container ui-kit">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">Say UI-kit</h1>
          <p>
            Some elements to build pages with.
          </p>
        </div>
      </div>
      <hr class="hr">
      <div class="columns is-desktop">
        <article class="column">
          <aside class="menu">
            <p class="menu-label">Overview of elements and components</p>
            <ul class="menu-list">
              <li>
                <a href="#colours">Colours</a>
              </li>
              <li>
                <a href="#buttons">Buttons</a>
              </li>
              <li>
                <a href="#typography">Typography</a>
              </li>
              <li>
                <a href="#typography-markdown">Typography for documentation &amp; content blocks</a>
              </li>
              <li>
                <a href="#messages">Messages</a>
              </li>
              <li>
                <a href="#logos">Logo variations</a>
              </li>
              <li>
                <a href="#images">Images</a>
              </li>
              <li>
                <a href="https://bulma.io" target="_blank" rel="noopener">More on Bulma.io <span class="tag">external link</span></a>
              </li>
            </ul>
          </aside>
        </article>
        <article class="column auto">

          <section id="colours" class="section">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Colours</h2>

                <h3 class="title is-3">Base colours</h3>

                <div class="columns">
                  <div class="column">
                    <div class="columns is-mobile">
                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-primary">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>Primary color</strong>
                                </p>
                                <p>
                                  Primary buttons and links
                                </p>
                                <span class="tag">has-background-primary</span>
                                <span class="tag">button is-primary</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-dark">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>Dark</strong>
                                </p>
                                <p>
                                  Text and invert backgrounds
                                </p>
                                <span class="tag">has-background-dark</span>
                                <span class="tag">button is-dark</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="columns is-mobile">
                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-light">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>Light</strong>
                                </p>
                                <p>
                                  Light backgrounds
                                </p>
                                <span class="tag">has-background-dark</span>
                                <span class="tag">button is-dark</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-white">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>White</strong>
                                </p>
                                <p>
                                  Backgrounds and invert text
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3 class="title is-3">Support colours</h3>

                <div class="columns">
                  <div class="column is-half">
                    <div class="columns is-mobile">
                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-success">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>$success + $secondary</strong>
                                </p>
                                <p>
                                  Success messages and secondary
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="column">
                        <div class="card">
                          <div class="card-content has-background-warning">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>$warning</strong>
                                </p>
                                <p>
                                  Warning messages and buttons
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column is-half">
                    <div class="columns is-mobile">
                      <div class="column is-half">
                        <div class="card">
                          <div class="card-content has-background-danger">
                          </div>
                          <div class="card-footer">
                            <div class="card-footer-item">
                              <div>
                                <p>
                                  <strong>$danger</strong>
                                </p>
                                <p>
                                  Error / danger messages and buttons
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="hr">
          </section>

          <section id="buttons" class="section">
            <h2 class="title is-2">Buttons</h2>
            <article class="space-3">
              <h3 class="title is-3">Main Buttons &amp; Links</h3>
              <div class="columns">
                <div class="column is-3">
                  <a class="button is-primary">Primary button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-primary"&gt;Primary button&lt;/a&gt;</code></pre>
                </div>
              </div>

              <div class="columns">
                <div class="column is-3">
                  <a class="button">Secondary button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button"&gt;Button&lt;/a&gt;</code></pre>
                </div>
              </div>

              <div class="columns">
                <div class="column is-3">
                  <a class="button is-dark">Dark button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-dark"&gt;Button&lt;/a&gt;</code></pre>
                </div>
              </div>

              <div class="columns">
                <div class="column is-3">
                  <a class="button is-text">Text button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-text"&gt;Button&lt;/a&gt;</code></pre>
                </div>
              </div>

              <div class="columns">
                <div class="column is-3">
                  <a>Link</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a&gt;Link&lt;/a&gt;</code></pre>
                </div>
              </div>

              <div class="columns">
                <div class="column is-3">
                  <a class="link-dark">Link dark</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="link-dark"&gt;Link dark&lt;/a&gt;</code></pre>
                </div>
              </div>
            </article>
            {{!-- <a class="button is-white">White</a>
                        <a class="button is-light">Light</a>
                        <a class="button is-dark">Dark</a> --}}

            <article class="space-3">
              <h3 class="title is-3">Supportive Buttons</h3>
              <div class="columns">
                <div class="column is-3">
                  <a class="button is-success">Success button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-success"&gt;Success button&lt;/a&gt;</code></pre>
                </div>
              </div>
              <div class="columns">
                <div class="column is-3">
                  <a class="button is-warning">Warning button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-warning"&gt;Warning button&lt;/a&gt;</code></pre>
                </div>
              </div>
              <div class="columns">
                <div class="column is-3">
                  <a class="button is-danger">Danger button</a>
                </div>
                <div class="column">
                  <pre><code>&lt;a class="button is-danger"&gt;Danger button&lt;/a&gt;</code></pre>
                </div>
              </div>
            </article>
            <hr class="hr">
          </section>

          <section id="typography" class="section">
            <h2 class="title is-2">Typography</h2>
            <div class="card">
              <div class="card-content">

                <div class="space-3">
                  <h1 class="title is-1">Title header 1</h1>
                  <pre><code>&lt;h1 class="title is-1"&gt;Title header 1&lt;/h1&gt;</code></pre>
                </div>

                <div class="space-3">
                  <h2 class="title is-2">Title header 2</h2>
                  <pre><code>&lt;h2 class="title is-2"&gt;Title header 2&lt;/h2&gt;</code></pre>
                </div>

                <div class="space-3">
                  <h3 class="title is-3">Title header 3</h3>
                  <pre><code>&lt;h3 class="title is-3"&gt;Title header 3&lt;/h3&gt;</code></pre>
                </div>

                <div class="space-3">
                  <h4 class="title is-4">Title header 4</h4>
                  <pre><code>&lt;h4 class="title is-4"&gt;Title header 4&lt;/h4&gt;</code></pre>
                </div>

                <div class="space-3">
                  <h5 class="title is-5">Title header 5</h5>
                  <pre><code>&lt;h5 class="title is-5"&gt;Title header 5&lt;/h5&gt;</code></pre>
                </div>

                <div class="space-3">
                  <h6 class="title is-6">Title header 6</h6>
                  <pre><code>&lt;h6 class="title is-6"&gt;Title header 6&lt;/h6&gt;</code></pre>
                </div>

                <div class="space-3">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <br>
                  <pre><code>&lt;p&gt;Normal text&lt;/p&gt;</code></pre>
                </div>

                <div class="space-3">
                  <p>
                    <small>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </small>
                  </p>
                  <br>
                  <pre>
                    <code>
                      &lt;p&gt;&lt;small&gt;Small text&lt;/small&gt;&lt;/p&gt;
                    </code>
                  </pre>
                </div>

                <div class="space-3">
                  <p>
                    An &lt;hr&gt; element
                  </p>
                  <hr class="hr">
                  <br>
                  <pre>
                    <code>
                      &lt;hr class="hr"&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
            <hr class="hr">
          </section>

          <section id="typography-markdown" class="section">
            <h2 class="title is-2">Typography for doc pages<br>&amp; content blocks</h2>
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <h1>Title header 1 on doc pages</h1>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      &lt;h1&gt;Title header 1 on doc pages&lt;/h1&gt;
                    &lt;/div&gt;
                  </code>
                </pre>

                <div class="content">
                  <h2>Title header 2 on doc pages</h2>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      &lt;h2&gt;Title header 2 on doc pages&lt;/h2&gt;
                    &lt;/div&gt;
                  </code>
                </pre>

                <div class="content">
                  <h3>Title header 3 on doc pages</h3>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      &lt;h3&gt;Title header 3 on doc pages&lt;/h3&gt;
                    &lt;/div&gt;
                  </code>
                </pre>

                <div class="content">
                  <h4>Title header 4 on doc pages</h4>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      &lt;h4&gt;Title header 4 on doc pages&lt;/h4&gt;
                    &lt;/div&gt;
                  </code>
                </pre>

                <div class="content">
                  <h5>Title header 5 on doc pages</h5>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      &lt;h5&gt;Title header 5 on doc pages&lt;/h5&gt;
                    &lt;/div&gt;
                  </code>
                </pre>

                <div class="content">
                  <h6>Title header 6 on doc pages</h6>
                </div>
                <pre>
                  <code>
                    &lt;div class="content"&gt;
                      lt;h6&gt;Title header 6 on doc pages&lt;/h6&gt;
                    &lt;/div&gt;
                  </code>
                </pre>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <p>
                  Showing code on a page
                </p>
                <br>
                <pre>
                  <code>
                    &lt;p&gt; Showing code on a page &lt;/p&gt;
                  </code>
                </pre>
                <pre>
                  <code>
                    &lt;pre&gt;&lt;code&gt; &amp;lt;p&amp;gt; Showing code on a page &amp;lt;/p&amp;gt; &lt;/code&gt;&lt;/pre&gt;
                  </code>
                </pre>
              </div>
            </div>

            <hr class="hr">
          </section>

          <section id="messages" class="section u-hidden">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Messages</h2>

                <section class="space-3">
                  <h3 class="title is-3">Standard</h3>

                  <article class="message">
                    <div class="message-header">
                      <p>
                        With header
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>

                  <article class="message">
                    <div class="message-body">
                      Without header. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
                      Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a
                      neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>

                  <pre>
                    <code>
                      &lt;article class="message"&gt;
                        &lt;div class="message-header"&gt;
                          &lt;p&gt;With header&lt;/p&gt;
                          &lt;button class="delete" aria-label="delete"&gt;&lt;/button&gt;
                        &lt;/div&gt;

                        &lt;div class="message-body"&gt;
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. &lt;strong&gt;Pellentesque risus mi&lt;/strong&gt;, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum &lt;a&gt;felis venenatis&lt;/a&gt; efficitur. Aenean ac &lt;em&gt;eleifend lacus&lt;/em&gt;, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                        &lt;/div&gt;

                      &lt;/article&gt;
                    </code>
                  </pre>

                </section>

                <section class="space-3">
                  <h3 class="title is-3">Small</h3>

                  <article class="message is-small">
                    <div class="message-header">
                      <p>
                        Small message
                      </p>
                      <button class="delete is-small" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a>
                      efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre>
                      <code>
                        &lt;article class="message is-small"&gt; &lt;/article&gt;
                      </code>
                    </pre>
                  </div>

                </section>

                <section class="space-3">
                  <h3 class="title is-3">Colours</h3>

                  <article class="message is-dark">
                    <div class="message-header">
                      <p>
                        Dark
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre><code>&lt;article class="message is-dark"&gt; &lt;/article&gt;</code></pre>
                  </div>

                  <article class="message is-primary">
                    <div class="message-header">
                      <p>
                        Primary
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre><code>&lt;article class="message is-primary"&gt; &lt;/article&gt;</code></pre>
                  </div>

                  <article class="message is-success">
                    <div class="message-header">
                      <p>
                        Success
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre><code>&lt;article class="message is-success"&gt; &lt;/article&gt;</code></pre>
                  </div>

                  <article class="message is-warning">
                    <div class="message-header">
                      <p>
                        Warning
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre><code>&lt;article class="message is-warning"&gt; &lt;/article&gt;</code></pre>
                  </div>

                  <article class="message is-danger">
                    <div class="message-header">
                      <p>
                        Danger
                      </p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                      purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui
                      urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <div class="space-3">
                    <pre><code>&lt;article class="message is-danger"&gt; &lt;/article&gt;</code></pre>
                  </div>

                </section>
              </div>
            </div>

            <hr class="hr">
          </section>

          <section id="logos" class="section u-hidden">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Logo variations</h2>
                <p>
                  Different variaties to use
                </p>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h3 class="title is-4">Full logo square</h3>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-color.svg" alt="Full logo square color">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-color.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-dark.svg" alt="Full logo square dark">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-dark.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card has-background-primary">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-white.svg" alt="Full logo square white">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-white.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h3 class="title is-4">Full logo small</h3>
                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-color.svg" alt="Full logo small color">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-color.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-dark.svg" alt="Full logo small dark">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-dark.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card has-background-primary">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-white.svg" alt="Full logo small white">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-white.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h3 class="title is-4">Full logo horizontal</h3>

                <div class="columns">
                  <div class="column is-3 is-half-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-long-horizontal-color.svg" alt="Full logo horizontal color">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-long-horizontal-color.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-3 is-half-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-long-horizontal-dark.svg" alt="Full logo horizontal dark">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-long-horizontal-dark.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-3 is-half-mobile">
                    <div class="card has-background-primary">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-long-horizontal-white.svg" alt="Full logo horizontal white">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-long-horizontal-white.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h3 class="title is-4">Full logo small horizontal</h3>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-horizontal-color.svg" alt="Full logo smaller square color">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-horizontal-color.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-horizontal-dark.svg" alt="Full logo smaller square dark">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-horizontal-dark.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card has-background-primary">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-logo-small-horizontal-white.svg" alt="Full logo smaller square white">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-logo-small-horizontal-white.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h3 class="title is-4">The emblem</h3>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-emblem-color.svg" alt="Emblem color">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-emblem-color.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-emblem-dark.svg" alt="Emblem dark">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-emblem-dark.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-2 is-one-third-mobile">
                    <div class="card has-background-primary">
                      <div class="card-content">
                        <img src="/assets/images/logos-say/say-emblem-white.svg" alt="Emblem white">
                      </div>
                    </div>
                  </div>
                  <div class="column is-offset-1">
                    <pre>
                      <code>
                        &lt;img src="/assets/images/logos-say/say-emblem-white.svg"&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="images" class="section u-hidden">
            <h2 class="title is-2">Images</h2>

            <div class="space-3">
              <div class="space-1">
                <h3 class="title is-3">How Say works: abstract &amp; simple line drawings</h3>
              </div>
              <div class="card">
                <div class="card-content">
                  <img src="/assets/images/say-how-it-works.svg" class="space-1" alt="Example image">
                </div>
                <div class="card-footer">
                  <pre>
                    <code>
                      &lt;img src="/assets/images/say-data-sources.svg"&gt;
                    </code>
                  </pre>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-data-sources.svg" class="space-1" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-how-it-works.svg"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-reuse.svg" class="space-1" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-reuse.svg"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="space-3">
              <div class="space-2">
                <h3 class="title is-3">Case examples</h3>
              </div>
              <div class="space-1">
                <h4 class="title is-4">Screenshots</h4>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/data-sources.png" class="space-1" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/data-sources.png"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/screenshot-lblod-vendors.png" class="space-1" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/screenshot-lblod-vendors.png"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>

              <div class="space-1">
                <h4 class="title is-4">Human component &amp; context</h4>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-partner-LBLOD-reuse.jpg" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-partner-LBLOD-reuse.jpg"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-partner-LBLOD-using.jpg" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-partner-LBLOD-using.jpg"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-partner-LBLOD-editor.jpg" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-partner-LBLOD-editor.jpg"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="space-3">
              <div class="space-1">
                <h4 class="title is-4">Seeing the Say in action for that case</h4>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/feature-data-show.gif" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/feature-data-show.gif"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <img src="/assets/images/say-example.gif" alt="Example image">
                    </div>
                    <div class="card-footer">
                      <pre>
                        <code>
                          &lt;img src="/assets/images/say-example.gif"&gt;
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
</div>

{{outlet}}
